<a href="https://colab.research.google.com/github/rosembergennes/python/blob/master/RASCUNHO_BERG_bolsa_valores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### OBTENDO O ARQUIVO PARA ANALISE

In [1]:
NOMARQ = slice(2, 15)
CODORI = slice(15, 23)
DATGER = slice(23, 31)
FILL00 = slice(31, 245)

TOTREG = slice(31, 42)
FILL99 = slice(42, 245)

# REGISTRO - 01  - COTAÇÕES HISTÓRICAS POR PAPEL-MERCADO
TIPREG = slice(0, 2)     # FIXO "01"              N(01) 
DATPRG = slice(2, 10)    # FORMATO “AAAAMMDD”     N(08)       
CODBDI = slice(10, 12)   # VER TABELA ANEXA       X(02)       
CODNEG = slice(12, 24)   #                        X(12)       
TPMERC = slice(24, 27)   # VER TABELA ANEXA       N(03)      
NOMRES = slice(27, 39)   #                        X(12) 
ESPECI = slice(39, 49)   # VER TABELA ANEXA       X(10)       
PRAZOT = slice(49, 52)   #                        X(03)       
MODREF = slice(52, 56)   #                        X(04)
PREABE = slice(56, 69)   #                        N(11)V99    
PREMAX = slice(69, 82)   #                        N(11)V99    
PREMIN = slice(82, 95)   #                        N(11)V99    
PREMED = slice(95, 108)  #                        N(11)V99    
PREULT = slice(108, 121) #                        N(11)V99   
PREOFC = slice(121, 134) #                        N(11)V99   
PREOFV = slice(134, 147) #                        N(11)V99   
TOTNEG = slice(147, 152) #                        N(05)      
QUATOT = slice(152, 170) #                        N(18)      
VOLTOT = slice(170, 188) #                        N(16)V99   
PREEXE = slice(188, 201) #                        N(11)V99   
INDOPC = slice(201, 202) # VER TABELA ANEXA       N(01)      
DATVEN = slice(202, 210) # FORMATO “AAAAMMDD”     N(08)      
FATCOT = slice(210, 217) #                        N(07)        ‘1’ = COTAÇÃO UNIT ‘1000’ = COTAÇÃO P/ LOTE DE MIL AÇÕES
PTOEXE = slice(217, 230) #                        N(07)V06     1 PONTO = 1/100 US$
CODISI = slice(230, 242) #                        X(12)      
DISMES = slice(242, 245) #                        9(03)  

tipo00 = [TIPREG, NOMARQ, CODORI, DATGER, FILL00]
nmtp00 = ['TIPREG', 'NOMARQ', 'CODORI', 'DATGER', 'FILL00']
widt00 = [2, 13, 8, 8, 214]

tipo99 = [TIPREG, NOMARQ, CODORI, DATGER, TOTREG, FILL99]
nmtp99 = ['TIPREG', 'NOMARQ', 'CODORI', 'DATGER', 'TOTREG', 'FILL99']
widt99 = [2, 13, 8, 8, 214]

tipo01 = [TIPREG, DATPRG, CODBDI, CODNEG, TPMERC, NOMRES, ESPECI, PRAZOT, MODREF, PREABE, 
          PREMAX, PREMIN, PREMED, PREULT, PREOFC, PREOFV, TOTNEG, QUATOT, VOLTOT, PREEXE, 
          INDOPC, DATVEN, FATCOT, PTOEXE, CODISI, DISMES]
nmtp01 = ['TIPREG', 'DATPRG', 'CODBDI', 'CODNEG', 'TPMERC', 'NOMRES', 'ESPECI', 'PRAZOT', 
          'MODREF', 'PREABE', 'PREMAX', 'PREMIN', 'PREMED', 'PREULT', 'PREOFC', 'PREOFV', 
          'TOTNEG', 'QUATOT', 'VOLTOT', 'PREEXE', 'INDOPC', 'DATVEN', 'FATCOT', 'PTOEXE', 
          'CODISI', 'DISMES']
widt01 = [2, 8, 2, 12, 3, 12, 10, 3, 4, 13, 13, 13, 13, 13, 13, 13, 5, 18, 18, 13, 1, 8, 7, 13, 12, 3]

# para trabalhar com Pandas usamos widtxx e nmtpxx. tipoxx não precisou :-(

import pandas as pd
from google.colab import files
#uploaded = files.upload()

In [2]:
!head COTAHIST_M052020.TXT

head: cannot open 'COTAHIST_M052020.TXT' for reading: No such file or directory

In [3]:
 import urllib

# filename= urllib.request.urlopen(urllib.request.Request('http://rosembergennes.com.br/bigdata/COTAHIST_M052020.TXT')).read()
# .get_filename()
# bovespa = pd.read_fwf(filename, widths=widt01, names=nmtp01, header=None, skiprows=[0], skipfooter=1)
# bovespa.shape
 
 # .info().get_filename()
 #!head filename
 #filename.show

In [4]:
 import os
 import numpy as np
#para importar o arquivo do SO offline


# ORIGEM DO ARQUIVO DE DADOS  http://www.b3.com.br/pt_br/market-data-e-indices/servicos-de-dados/market-data/historico/mercado-a-vista/series-historicas/


 # filename = urllib.urlopen('http://rosembergennes.com.br/tmp/COTAHIST_M052020.TXT').read()

filename = os.path.join('COTAHIST_A2020.TXT')

filename = os.path.join('COTAHIST_D31072020.TXT')

bovespa = pd.read_fwf(filename, widths=widt01, names=nmtp01, header=None, skiprows=[0], skipfooter=1)
bovespa.shape

(5062, 26)

In [5]:
print (bovespa)

      TIPREG    DATPRG  CODBDI  CODNEG  ...  FATCOT PTOEXE        CODISI  DISMES
0          1  20200731       2  A1MD34  ...       1      0  BRA1MDBDR002     100
1          1  20200731       2  A1PA34  ...       1      0  BRA1PABDR001     103
2          1  20200731       2   AALR3  ...       1      0  BRAALRACNOR6     102
3          1  20200731       2  AAPL34  ...       1      0  BRAAPLBDR004     133
4          1  20200731       2  ABBV34  ...       1      0  BRABBVBDR001     118
...      ...       ...     ...     ...  ...     ...    ...           ...     ...
5057       1  20200731      62  VVAR3T  ...       1      0  BRVVARACNOR1     109
5058       1  20200731      62  VVAR3T  ...       1      0  BRVVARACNOR1     109
5059       1  20200731      62  VVAR3T  ...       1      0  BRVVARACNOR1     109
5060       1  20200731      62  VVAR3T  ...       1      0  BRVVARACNOR1     109
5061       1  20200731      62  TIET4T  ...       1      0  BRTIETACNPR7     123

[5062 rows x 26 columns]

In [6]:
from pandas import DataFrame
type (bovespa)

pandas.core.frame.DataFrame

In [7]:
bovespa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5062 entries, 0 to 5061
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TIPREG  5062 non-null   int64
 1   DATPRG  5062 non-null   int64
 2   CODBDI  5062 non-null   int64
 3   CODNEG  5062 non-null   object
 4   TPMERC  5062 non-null   int64
 5   NOMRES  5062 non-null   object
 6   ESPECI  5062 non-null   object
 7   PRAZOT  3903 non-null   float64
 8   MODREF  5062 non-null   object
 9   PREABE  5062 non-null   int64
 10  PREMAX  5062 non-null   int64
 11  PREMIN  5062 non-null   int64
 12  PREMED  5062 non-null   int64
 13  PREULT  5062 non-null   int64
 14  PREOFC  5062 non-null   int64
 15  PREOFV  5062 non-null   int64
 16  TOTNEG  5062 non-null   int64
 17  QUATOT  5062 non-null   int64
 18  VOLTOT  5062 non-null   int64
 19  PREEXE  5062 non-null   int64
 20  INDOPC  5062 non-null   int64
 21  DATVEN  5062 non-null   int64
 22  FATCOT  5062 non-null   int64
 23  PTOEXE  5062 non-null   int64
 24  CODISI  5062 non-null   object
 25  DISMES  5062 non-null   int64
dtypes: float64(1), int64(20), object(5)
memory usage: 1.0+ MB

In [8]:
## TRANSFORMANDO O CAMPOO DATPRG DE INT64 PARA DATETIME64  
bovespa["DATPRG"]=pd.to_datetime(bovespa['DATPRG'].astype(str), format='%Y%m%d')

### Informações DataFrame bovespa

In [9]:
## Obtendo tipo bovespa (=> pandas.core.frame.DataFrame )
type (bovespa)

pandas.core.frame.DataFrame

In [10]:
# Diplay Colunas Dataframe bovespa
bovespa.columns

Index(['TIPREG', 'DATPRG', 'CODBDI', 'CODNEG', 'TPMERC', 'NOMRES', 'ESPECI',
       'PRAZOT', 'MODREF', 'PREABE', 'PREMAX', 'PREMIN', 'PREMED', 'PREULT',
       'PREOFC', 'PREOFV', 'TOTNEG', 'QUATOT', 'VOLTOT', 'PREEXE', 'INDOPC',
       'DATVEN', 'FATCOT', 'PTOEXE', 'CODISI', 'DISMES'],
      dtype='object')

In [11]:
# Obtendo Informacoes  Dataframe bovespa
bovespa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5062 entries, 0 to 5061
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TIPREG  5062 non-null   int64
 1   DATPRG  5062 non-null   datetime64[ns]
 2   CODBDI  5062 non-null   int64
 3   CODNEG  5062 non-null   object
 4   TPMERC  5062 non-null   int64
 5   NOMRES  5062 non-null   object
 6   ESPECI  5062 non-null   object
 7   PRAZOT  3903 non-null   float64
 8   MODREF  5062 non-null   object
 9   PREABE  5062 non-null   int64
 10  PREMAX  5062 non-null   int64
 11  PREMIN  5062 non-null   int64
 12  PREMED  5062 non-null   int64
 13  PREULT  5062 non-null   int64
 14  PREOFC  5062 non-null   int64
 15  PREOFV  5062 non-null   int64
 16  TOTNEG  5062 non-null   int64
 17  QUATOT  5062 non-null   int64
 18  VOLTOT  5062 non-null   int64
 19  PREEXE  5062 non-null   int64
 20  INDOPC  5062 non-null   int64
 21  DATVEN  5062 non-null   int64
 22  FATCOT  5062 non-null   int64
 23  PTOEXE  5062 non-null   int64
 24  CODISI  5062 non-null   object
 25  DISMES  5062 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(19), object(5)
memory usage: 1.0+ MB

In [12]:
# Vamos fazer um slice nas linhas e ao mesmo tempo selecionar algumas colunas.
# Sendo 0  para desmonstra a criação do indice automatico criado no pandas
bovespa.loc[0:10, ['TIPREG', 'DATPRG', 'CODBDI', 'CODNEG', 'TPMERC', 'NOMRES', 'ESPECI',]]

    TIPREG     DATPRG  CODBDI  CODNEG  TPMERC        NOMRES      ESPECI
0        1 2020-07-31       2  A1MD34      10  ADVANCED MIC         DRN
1        1 2020-07-31       2  A1PA34      10   APACHE CORP         DRN
2        1 2020-07-31       2   AALR3      10        ALLIAR  ON      NM
3        1 2020-07-31       2  AAPL34      10         APPLE         DRN
4        1 2020-07-31       2  ABBV34      10        ABBVIE         DRN
5        1 2020-07-31       2   ABCB4      10    ABC BRASIL  PN      N2
6        1 2020-07-31       2   ABEV3      10     AMBEV S/A          ON
7        1 2020-07-31       2  ADBE34      10     ADOBE INC         DRN
8        1 2020-07-31       2   ADHM3      10   ADVANCED-DH          ON
9        1 2020-07-31       2   AFLT3      10    AFLUENTE T      ON  ED
10       1 2020-07-31       2   AGRO3      10    BRASILAGRO  ON      NM

### Executando Query no Dataframe Bovespa

In [13]:
bovespa.query('CODBDI == 10').head(3)

     TIPREG     DATPRG  CODBDI CODNEG  ...  FATCOT PTOEXE        CODISI  DISMES
466       1 2020-07-31      10  BIDI2  ...       1      0  BRBIDID02PR3     109
467       1 2020-07-31      10  BTOW1  ...       1      0  BRBTOWD06OR2     110
468       1 2020-07-31      10  CVCB1  ...       1      0  BRCVCBD01OR6     112

[3 rows x 26 columns]

In [14]:
bovespa.query('CODNEG	 == "AAPL34"').head(3)

   TIPREG     DATPRG  CODBDI  CODNEG  ...  FATCOT PTOEXE        CODISI  DISMES
3       1 2020-07-31       2  AAPL34  ...       1      0  BRAAPLBDR004     133

[1 rows x 26 columns]

In [15]:
# Contando o total de registros onde CODNEG	 == "PETR4"
bovespa.query('CODNEG	 == "PETR4"').count()

TIPREG    1
DATPRG    1
CODBDI    1
CODNEG    1
TPMERC    1
NOMRES    1
ESPECI    1
PRAZOT    0
MODREF    1
PREABE    1
PREMAX    1
PREMIN    1
PREMED    1
PREULT    1
PREOFC    1
PREOFV    1
TOTNEG    1
QUATOT    1
VOLTOT    1
PREEXE    1
INDOPC    1
DATVEN    1
FATCOT    1
PTOEXE    1
CODISI    1
DISMES    1
dtype: int64

In [16]:
# Listando os 3 primeiros registros onde CODNEG	 == "PETR4"
bovespa.query('CODNEG	 == "PETR4"').head(3)

     TIPREG     DATPRG  CODBDI CODNEG  ...  FATCOT PTOEXE        CODISI  DISMES
303       1 2020-07-31       2  PETR4  ...       1      0  BRPETRACNPR6     197

[1 rows x 26 columns]

In [17]:
# Listando os 3 primeiros registros onde DATPRG	 == "20200505"
bovespa.query('DATPRG	 == "2020-05-05"  ').head(3)

Empty DataFrame
Columns: [TIPREG, DATPRG, CODBDI, CODNEG, TPMERC, NOMRES, ESPECI, PRAZOT, MODREF, PREABE, PREMAX, PREMIN, PREMED, PREULT, PREOFC, PREOFV, TOTNEG, QUATOT, VOLTOT, PREEXE, INDOPC, DATVEN, FATCOT, PTOEXE, CODISI, DISMES]
Index: []

In [18]:
# Listando os 3 primeiros registros onde CODNEG	 == "PETR4" e DATPRG	 == "20200505"
bovespa.query('CODNEG	 == "PETR4"  and DATPRG	 == "20200505"  ').head(3)

Empty DataFrame
Columns: [TIPREG, DATPRG, CODBDI, CODNEG, TPMERC, NOMRES, ESPECI, PRAZOT, MODREF, PREABE, PREMAX, PREMIN, PREMED, PREULT, PREOFC, PREOFV, TOTNEG, QUATOT, VOLTOT, PREEXE, INDOPC, DATVEN, FATCOT, PTOEXE, CODISI, DISMES]
Index: []

In [19]:
# bovespa.query("select 'CODNEG' from bovespa where 'CODNEG' like 'PETR4%';")

# bovespa[bovespa['CODNEG'].str.contains('TR4')]
bovespa[bovespa['CODNEG'].str.contains('%%%%3')]

Empty DataFrame
Columns: [TIPREG, DATPRG, CODBDI, CODNEG, TPMERC, NOMRES, ESPECI, PRAZOT, MODREF, PREABE, PREMAX, PREMIN, PREMED, PREULT, PREOFC, PREOFV, TOTNEG, QUATOT, VOLTOT, PREEXE, INDOPC, DATVEN, FATCOT, PTOEXE, CODISI, DISMES]
Index: []

In [20]:
bovespa.head()

   TIPREG     DATPRG  CODBDI  CODNEG  ...  FATCOT PTOEXE        CODISI  DISMES
0       1 2020-07-31       2  A1MD34  ...       1      0  BRA1MDBDR002     100
1       1 2020-07-31       2  A1PA34  ...       1      0  BRA1PABDR001     103
2       1 2020-07-31       2   AALR3  ...       1      0  BRAALRACNOR6     102
3       1 2020-07-31       2  AAPL34  ...       1      0  BRAAPLBDR004     133
4       1 2020-07-31       2  ABBV34  ...       1      0  BRABBVBDR001     118

[5 rows x 26 columns]

In [21]:
bovespa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5062 entries, 0 to 5061
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TIPREG  5062 non-null   int64
 1   DATPRG  5062 non-null   datetime64[ns]
 2   CODBDI  5062 non-null   int64
 3   CODNEG  5062 non-null   object
 4   TPMERC  5062 non-null   int64
 5   NOMRES  5062 non-null   object
 6   ESPECI  5062 non-null   object
 7   PRAZOT  3903 non-null   float64
 8   MODREF  5062 non-null   object
 9   PREABE  5062 non-null   int64
 10  PREMAX  5062 non-null   int64
 11  PREMIN  5062 non-null   int64
 12  PREMED  5062 non-null   int64
 13  PREULT  5062 non-null   int64
 14  PREOFC  5062 non-null   int64
 15  PREOFV  5062 non-null   int64
 16  TOTNEG  5062 non-null   int64
 17  QUATOT  5062 non-null   int64
 18  VOLTOT  5062 non-null   int64
 19  PREEXE  5062 non-null   int64
 20  INDOPC  5062 non-null   int64
 21  DATVEN  5062 non-null   int64
 22  FATCOT  5062 non-null   int64
 23  PTOEXE  5062 non-null   int64
 24  CODISI  5062 non-null   object
 25  DISMES  5062 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(19), object(5)
memory usage: 1.0+ MB

### CRIANDO NOVO DF BOVESPA (new_bovespa) baseado no df bovespa

In [22]:
new_bovespa= bovespa.drop(columns=[ 'CODBDI', 'TPMERC', 'PRAZOT', 'MODREF', 'PREMED', 'PREOFC', 'PREOFV',  'PREEXE', 'INDOPC', 'DATVEN', 'FATCOT', 'PTOEXE', 'CODISI', 'DISMES'])

In [23]:
new_bovespa.query('CODNEG == "AAPL34"').head(7)

   TIPREG     DATPRG  CODNEG NOMRES  ... PREULT  TOTNEG  QUATOT      VOLTOT
3       1 2020-07-31  AAPL34  APPLE  ...  22218     154   51950  1132853920

[1 rows x 12 columns]

In [24]:
# COLOCANDO DECIMAL NOS CAMPOS PREABE, PREMAX, PREMIN  e PREULT
from decimal import Decimal
new_bovespa["PREABE"] = new_bovespa["PREABE"].apply(lambda x: int(x*10)/1000)
new_bovespa["PREMAX"] = new_bovespa["PREMAX"].apply(lambda x: int(x*10)/1000)
new_bovespa["PREMIN"] = new_bovespa["PREMIN"].apply(lambda x: int(x*10)/1000)
new_bovespa["PREULT"] = new_bovespa["PREULT"].apply(lambda x: int(x*10)/1000)

In [25]:
new_bovespa.query('CODNEG == "AALR3"').head(80)

   TIPREG     DATPRG CODNEG  NOMRES  ... PREULT  TOTNEG  QUATOT      VOLTOT
2       1 2020-07-31  AALR3  ALLIAR  ...  11.36    2622  933100  1069964100

[1 rows x 12 columns]

In [26]:
# Verificando valores PREABE <99
bovespa.query('PREABE <99').head(3)

     TIPREG     DATPRG  CODBDI  CODNEG  ...  FATCOT PTOEXE        CODISI  DISMES
448       1 2020-07-31       8  MMXM11  ...       1      0  BRMMXMTRV000     100
460       1 2020-07-31       8   SLED4  ...       1      0  BRSLEDACNPR7     156
497       1 2020-07-31      12  CARE11  ...       1      0  BRCARECTF000     103

[3 rows x 26 columns]

In [27]:
new_bovespa.query('CODNEG	 == "FNAM11"').head(3)

     TIPREG     DATPRG  CODNEG NOMRES  ... PREULT  TOTNEG     QUATOT   VOLTOT
673       1 2020-07-31  FNAM11  FINAM  ...   0.16     161  200467000  3177217

[1 rows x 12 columns]

In [31]:
# Entendendo melhor os tipos de campos ==> https://pbpython.com/pandas_dtypes.html
new_bovespa.dtypes

TIPREG             int64
DATPRG    datetime64[ns]
CODNEG            object
NOMRES            object
ESPECI            object
PREABE           float64
PREMAX           float64
PREMIN           float64
PREULT           float64
TOTNEG             int64
QUATOT             int64
VOLTOT             int64
VALAF            float64
VALMM            float64
PERCAF           float64
PERCMM           float64
dtype: object

In [32]:
## Criação de colunas com valores de variação e percentual

new_bovespa['VALAF'] = new_bovespa['PREULT']-new_bovespa['PREABE']  # (VALOR/DIFERENCA ABERTURA FECHAMENTO ) ULTIMO PRECO MENOS PRECO ABERTURA  (DIARIO)
new_bovespa['VALMM'] = new_bovespa['PREMAX']-new_bovespa['PREMIN']  # (VALOR PRECO MAXIMO MENOS PRECO MINIMO) PRECO MAXIMO MENOS PRECO MINIMO  (DIARIO)
new_bovespa['PERCAF'] = round((new_bovespa['VALAF']/new_bovespa['PREULT'])*100,2)  # (PRECENTUAL ENTRE ABERTURA E FECHAMENTO) PORCENTAGEM CALCULADA ENTRE (DIFERENCA ENTRE ABERTURA E FECHAMENTO) SOBRE ULTIMO PRECO
new_bovespa['PERCMM'] = round((new_bovespa['VALMM']/new_bovespa['PREMAX'])*100,2)  # (PRECENTUAL ENTRE MAXIMO MENOS PRECO MINIMO) CALCULADO ENTRE (DIFERENCA MAXIMO MENOS PRECO MINIMO) SOBRE PRECO MAXIMO



new_bovespa.query('CODNEG == "AAPL34"').head(180)

   TIPREG     DATPRG  CODNEG NOMRES  ...  VALAF  VALMM  PERCAF  PERCMM
3       1 2020-07-31  AAPL34  APPLE  ...  11.82  11.82    5.32    5.32

[1 rows x 16 columns]

In [ ]:
(new_bovespa.query('CODNEG == "VALE3"').head(2)

In [35]:
## Criando a tabela principal com empresas de codigo 02 e 08 das ações na base principal

saida_teste1 = new_bovespa.query('CODBDI	 == "02" ')
saida_teste2 = new_bovespa.query('CODBDI	 == "08" ')
saida_teste = pd.concat([saida_teste1, saida_teste2])

## Removendo empresas da tabela 

df_remove = saida_teste.loc[(saida_teste['ESPECI'] == "DRN")]

ultimo_df = saida_teste.drop(df_remove.index)

print (ultimo_df)

UndefinedVariableError: ignored

### WEB SCRAPING COM SELENIUM NO GOOGLE LABS ( ISSO É MUITO BOM )

In [40]:
#confirmando o total de linhas no df.
# Todos os dias serão 5062 (com pouca variação) ações negociadas na bolsa
new_bovespa.shape[0]

5062

In [41]:
#confirmando estrutura do df new_bovespa
new_bovespa.head()

   TIPREG     DATPRG  CODNEG        NOMRES  ...  VALAF  VALMM  PERCAF  PERCMM
0       1 2020-07-31  A1MD34  ADVANCED MIC  ...  -3.40   3.40   -0.85    0.84
1       1 2020-07-31  A1PA34   APACHE CORP  ...  -0.04   0.04   -0.05    0.05
2       1 2020-07-31   AALR3        ALLIAR  ...  -0.41   0.62   -3.61    5.23
3       1 2020-07-31  AAPL34         APPLE  ...  11.82  11.82    5.32    5.32
4       1 2020-07-31  ABBV34        ABBVIE  ...  -3.80   3.80   -0.78    0.77

[5 rows x 16 columns]

In [54]:
colunas =["CODNEG","DATPRG"]
ordem = ["True","False"]
new_bovespa_ordenado= new_bovespa.sort_values(by=colunas, ascending=ordem).head(2)

for index, row in new_bovespa_ordenado.iterrows():
    var_CODNEG = row['CODNEG']
    var_DATPRG = row['DATPRG'] 
    print(var_CODNEG)
    print(var_DATPRG)

A1MD34
2020-07-31 00:00:00
A1MD34F
2020-07-31 00:00:00

In [ ]:
!apt update
!apt install chromium-chromedriver
!pip install selenium
import time
from datetime import datetime, timedelta
from selenium import webdriver
import requests

### TEMOS UM PROBLEMINHA O WEBSCREP DEVE LEVAR CERCA DE 30 HORAS PARA PROCESSAR TODOS OS 5062 TITULOS.

In [58]:
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',options=options)


colunas =["CODNEG","DATPRG"]
ordem = ["True","False"]
new_bovespa_ordenado= new_bovespa.sort_values(by=colunas, ascending=ordem).head(10)

for index, row in new_bovespa_ordenado.iterrows():

    var_CODNEG = row['CODNEG']
    # FALTA FAZER O LAÇO
    url  = 'https://www.fundamentus.com.br/detalhes.php?papel='+var_CODNEG
    print(url)
    try:
        # print("URL EXISTE NÃO DEU ERRO")
        driver.get(url)
        driver.implicitly_wait(20)
        vpa          = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[3]/tbody/tr[3]/td[6]').text
        empresa      = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[1]/tbody/tr[3]/td[2]').text
        setor        = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[1]/tbody/tr[4]/td[2]/span/a').text
        subsetor     = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[1]/tbody/tr[5]/td[2]/span/a').text
        cotacao      = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[1]/tbody/tr[1]/td[4]').text
        data_ult_cot = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[1]/tbody/tr[2]/td[4]/span').text
        print("VPA : " + vpa)
        print("EMPRESA : " + empresa)
        print("SETOR : " + setor)
        print("SUBSETOR : " + subsetor)
        print("COTACAO : " + cotacao)
        print("DATA ULTIMA COTACAO : " + data_ult_cot)
    except Exception as erro:
        print('Erro : ' , erro)
        vpa=0
    print('Bora Continuar')


driver.close()

https://www.fundamentus.com.br/detalhes.php?papel=A1MD34
Erro :  Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[2]/table[3]/tbody/tr[3]/td[6]"}
  (Session info: headless chrome=83.0.4103.61)

Bora Continuar
https://www.fundamentus.com.br/detalhes.php?papel=A1MD34F
Erro :  Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[2]/table[3]/tbody/tr[3]/td[6]"}
  (Session info: headless chrome=83.0.4103.61)

Bora Continuar
https://www.fundamentus.com.br/detalhes.php?papel=A1PA34
Erro :  Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[2]/table[3]/tbody/tr[3]/td[6]"}
  (Session info: headless chrome=83.0.4103.61)

Bora Continuar
https://www.fundamentus.com.br/detalhes.php?papel=AALR3
VPA : 10,68
EMPRESA : ALLIAR ON NM
SETOR : Saúde
SUBSETOR : Serviços Médico - Hospitalares, Análises e Diagnósticos
COTACAO : 11,36
DATA ULTIMA COTACAO : 31/07/2020
Bora Continuar
https://www.fundamentus.com.br/detalhes.php?papel=AALR3F
Erro :  Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[2]/table[3]/tbody/tr[3]/td[6]"}
  (Session info: headless chrome=83.0.4103.61)

Bora Continuar
https://www.fundamentus.com.br/detalhes.php?papel=AAPL34
Erro :  Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[2]/table[3]/tbody/tr[3]/td[6]"}
  (Session info: headless chrome=83.0.4103.61)

Bora Continuar
https://www.fundamentus.com.br/detalhes.php?papel=AAPL34F
Erro :  Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[2]/table[3]/tbody/tr[3]/td[6]"}
  (Session info: headless chrome=83.0.4103.61)

Bora Continuar
https://www.fundamentus.com.br/detalhes.php?papel=ABBV34
Erro :  Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[2]/table[3]/tbody/tr[3]/td[6]"}
  (Session info: headless chrome=83.0.4103.61)

Bora Continuar
https://www.fundamentus.com.br/detalhes.php?papel=ABBV34F
Erro :  Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[2]/table[3]/tbody/tr[3]/td[6]"}
  (Session info: headless chrome=83.0.4103.61)

Bora Continuar
https://www.fundamentus.com.br/detalhes.php?papel=ABCB4
VPA : 18,53
EMPRESA : ABC Brasil PN N2
SETOR : Financeiros
SUBSETOR : Bancos
COTACAO : 14,06
DATA ULTIMA COTACAO : 31/07/2020
Bora Continuar

### FILTRANDO PERIODO

In [36]:
new_bovespa.query('CODNEG == "AAPL34"').head(7)

   TIPREG     DATPRG  CODNEG NOMRES  ...  VALAF  VALMM  PERCAF  PERCMM
3       1 2020-07-31  AAPL34  APPLE  ...  11.82  11.82    5.32    5.32

[1 rows x 16 columns]

In [ ]:
from datetime import datetime, timedelta

data_atual= datetime.today() 
print (data_atual)


data_menos = data_atual - timedelta(days = 7)
print (data_menos)

In [ ]:
from datetime import timedelta, date ,datetime
'''
now = datetime.now() print (now.year) print (now.month) print (now.day) print (now.hour) print (now.minute) print (now.second) hoje  = date.today() - timedelta(2) hojemenosxdias=120 diapassado = date.today() - timedelta(hojemenosxdias)
print('hoje',hoje) print('diapassado',diapassado)
'''
ultimadata = new_bovespa.DATPRG.max()
ultimadatamenosxdias=5
ultimadatamenosxdias = ultimadata - timedelta(ultimadatamenosxdias) 
print('maior data',ultimadata)
print('maior data menos x dias ',ultimadatamenosxdias)


# Nesse exemplo selecionamos as datas entre 01/01/2018 e 10/02/2019
selecao = (new_bovespa['DATPRG'] >= ultimadatamenosxdias ) & (new_bovespa['DATPRG'] <= ultimadata )

df_filtrapordata = new_bovespa[selecao]

# Apresentando o resultado
print('Valor máximo:', df_filtrapordata.DATPRG.max())
print('Valor mínimo:', df_filtrapordata.DATPRG.min())

df_filtrapordataindx = df_filtrapordata.sort_values(['CODNEG', 'DATPRG'])

# df_filtrapordataindx.head()

for row in df_filtrapordataindx.iterrows():
    print(row['CODNEG'] )
    
    #, row['DATPRG'])

    # print row["CODNEG"],row['DATPRG'],row['PREABE'])
print() 

# iterating over rows using iterrows() function  
#for i, j in df_filtrapordataindx.iterrows(): 
#    print(DATPRG, PREABE) 
#    print() 




# teste = df_filtrapordata[PREABE] df_filtrapordata.DATPRG.min())
# df_filtrapordata['PREABE_PERIODO']=df_filtrapordata.DATPRG.min())


#df_filtrapordata.head(180)

### ORDERNAR POR EMPRESA E DATA

In [ ]:
new_bovespa.query('CODNEG == "AAPL34"').head(7)

In [ ]:
from datetime import timedelta, date ,datetime
pd.options.display.max_columns = None
pd.options.display.max_rows = None
#!pip install pandasql
#import pandasql

"""
AS 3:00HS DA MATINA CABEÇA JÁ PEGANDO FOGO DESCUBRO O SEGUINTE....
Não se deve usar indexacao encadeada https://www.it-swarm.dev/pt/python/definir-valor-para-uma-celula-especifica-em-pandas-dataframe-usando-o-indice/1070068676/
Sacanagem quebraram minhas pernas.

Enão vamos pelo jeito tradicional

1.) Filtragem do dataset por data
2.) Ordenação do dataset por CODNEG (do maior para o menor póderia ser inversa mais ai não teria graça) e DATAPRG (da menor para a maior esse tem que ser desta ordem)
3.) Gardar no novo campo Rentabilidade_periodo o valor da primeira abertura PREABE menos o ultimo fechamento PREULT

lista = []
for i in range(len(df)): #para cada região
v
    for ano in anos: #seleciono os anos
        soma += df.iloc[i][ano]
    lista.append(soma)
>>> print lista
[80, 100]
"""

#  1.) Filtragem do dataset por data ( "CUIDADO ==> LEMBRANDO PEGO A ULTIMA DATA DO ARQUIVO LOGO O ARQUIVO TEM QUE ESTAR ATUALIZADO" )
ultimadata = new_bovespa.DATPRG.max()
ultimadatamenosxdias=5
ultimadatamenosxdias = ultimadata - timedelta(ultimadatamenosxdias) 
selecao = (new_bovespa['DATPRG'] >= ultimadatamenosxdias ) & (new_bovespa['DATPRG'] <= ultimadata )
df_filtrado_data = new_bovespa[selecao]
## teste df_filtrado_data.query('CODNEG == "AAPL34"').head(180)

# 2.) Ordenação do dataset por CODNEG (do maior para o menor póderia ser inversa mais ai não teria graça) e DATAPRG (da menor para a maior esse tem que ser desta ordem)
colunas =["CODNEG","DATPRG"]
ordem = ["True","False"]
df_filtrado_data_ordenado= df_filtrado_data.sort_values(by=colunas, ascending=ordem)
## teste df_filtrado_data_ordenado.head(180)

# 3.) Gardar no novo campo Rentabilidade_periodo (RENT_PER) o valor da primeira abertura PREABE menos o ultimo fechamento PREULT # https://www.it-swarm.dev/pt/python/qual-e-maneira-mais-eficiente-de-percorrer-os-quadros-de-dados-com-os-pandas/941554834/

df_filtrado_data_ordenado.head()





# var_PREABE = df_filtrado_data_ordenado["PREABE"] var_PREULT = df_filtrado_data_ordenado["PREULT"] 

# for row in df_filtrado_data_ordenado.itertuples(index=False):
  #      var_PREABE = 0
  #      var_PREULT = 0
     # var_CODNEG = ''

# CODNEG



# for i in range(len(df_filtrado_data_ordenado["CODNEG"] )): #para cada região

 # var_CODNEG = df_filtrado_data_ordenado["CODNEG"]
  #   print(i)

                                                          ## PAREI AQUI

In [ ]:
# A HORA DO ZARALHO

var_DATPRG = ''
var_CODNEG = ''
var_NOMRES = ''
var_ESPECI = ''
var_PREABE = 0
var_PREMAX	= 0
var_PREMIN = 0
var_TOTNEG =0	
var_QUATOT	=0
var_VOLTOT	=0
var_VALAF	= 0
var_VALMM	= 0
var_PERCAF	= 0
var_PERCMM =0
var_PREABE_PERIODO = 0
var_PREULT_PERIODO=0
# var_PREULT = 0

df_filtrado_data_ordenado_historico = pd.DataFrame({'DATPRG': [], 'CODNEG': [] ,
                   'NOMRES': [], 'ESPECI': [], 
                    'PREABE': [], 'PREMAX': [],
                   	'PREMIN': [], 'PREULT': [], 	
                    'TOTNEG': [], 'QUATOT': [], 
                    'VOLTOT': [], 'VALAF': [], 
                    'VALMM': [], 'PERCAF': [], 
                   	'PERCMM': [],       
                    'PREABE_PERIODO': [], 'PREULT_PERIODO': []
                   })
                         
# print('DATA               ','CODNEG','PREABE','PREABE_PERIODO','PREULT','PREULT_PREABE','|','var_diaPREULT_diaPREABE')  
# for index, row in df_filtrado_data_ordenado.head(20).iterrows():

for index, row in df_filtrado_data_ordenado.iterrows():
      var_DATPRG = row['DATPRG']      ## var_CODNEG = row['CODNEG']  
      var_NOMRES = row['NOMRES']  ;   var_ESPECI  = row['ESPECI'] 
      var_PREABE = row['PREABE']  ;   var_PREMAX	= row['PREMAX']; 
      var_PREMIN = row['PREMIN']  ;   var_PREULT = row['PREULT']
      var_TOTNEG = row['TOTNEG']  ;   var_QUATOT	= row['QUATOT'] 
      var_VOLTOT = row['VOLTOT']  ;   var_VALAF	= row['VALAF'] 
      var_VALMM	 = row['VALMM']   ;   var_PERCAF	= row['PERCAF'] 
      var_PERCMM = row['PERCMM']             
      if  ((var_CODNEG!=row['CODNEG']) and (var_PREABE_PERIODO != -1)):  
           var_CODNEG = row['CODNEG']  
           var_PREABE_PERIODO = row['PREABE'] 
           var_PREULT_PERIODO = row['PREULT'] - var_PREABE_PERIODO

           df_filtrado_data_ordenado_historico = df_filtrado_data_ordenado_historico.append({'DATPRG': var_DATPRG, 'CODNEG': var_CODNEG,
                           'NOMRES': var_NOMRES, 'ESPECI': var_ESPECI,
                           'PREABE': var_PREABE, 'PREMAX': var_PREMAX,
                           'PREMIN': var_PREMIN, 'PREULT': var_PREULT,
                           'TOTNEG': var_TOTNEG, 'QUATOT': var_QUATOT,
                           'VOLTOT': var_VOLTOT, 'VALAF': var_VALAF,
                           'VALMM': var_VALMM, 'PERCAF': var_PERCAF,
                           'PERCMM': var_PERCMM,
                           'PREABE_PERIODO': var_PREABE_PERIODO, 'PREULT_PERIODO': var_PREULT_PERIODO                           
                           }, ignore_index=True)

           # df_filtrado_data_ordenado_historico = pd.DataFrame(data=obj)
      else:        
        var_DATPRG = row['DATPRG']
        var_PREULT = row['PREULT']
      #  var_PREULT_PREABE =  row['PREULT'] - var_PREABE_PERIODO 
        var_PREULT_PERIODO = row['PREULT'] - var_PREABE_PERIODO

        df_filtrado_data_ordenado_historico = df_filtrado_data_ordenado_historico.append({'DATPRG': var_DATPRG, 'CODNEG': var_CODNEG,
                           'NOMRES': var_NOMRES, 'ESPECI': var_ESPECI,
                           'PREABE': var_PREABE, 'PREMAX': var_PREMAX,
                           'PREMIN': var_PREMIN, 'PREULT': var_PREULT,
                           'TOTNEG': var_TOTNEG, 'QUATOT': var_QUATOT,
                           'VOLTOT': var_VOLTOT, 'VALAF': var_VALAF,
                           'VALMM': var_VALMM, 'PERCAF': var_PERCAF,
                           'PERCMM': var_PERCMM,
                           'PREABE_PERIODO': var_PREABE_PERIODO, 'PREULT_PERIODO': var_PREULT_PERIODO                           
                           }, ignore_index=True)

df_filtrado_data_ordenado_historico.head(120)

In [ ]:
obj = {'DATPRG','CODNEG','NOMRES','ESPECI','PREABE','PREMAX','PREMIN','PREULT','TOTNEG','QUATOT','VOLTOT','VALAF','VALMM','PERCAF','PERCMM','PREULT_PERIODO','diaPREULT_diaPREABE'}
df_filtrado_data_ordenado_historico = pd.DataFrame(data=obj)
df_filtrado_data_ordenado_historico.head(20)

### TESTE DE APRENDISAGEM POR GRUPO

In [ ]:
new_bovespa.query('CODNEG == "VALE3"').head()

In [ ]:
grouped = data[['math score', 'reading score', 'writing score']].groupby(data['gender'])
grouped.mean()

In [ ]:
# Criando dataframe para testes
teste3_bovespa = new_bovespa
# Python Burro não facilita a nossa vida Pq isso da errado 
#teste2_bovespa["VOLTOTmenosQUATOT"] = teste_bovespa["VOLTOT"]-teste_bovespa["QUATOT"]
# Então tomalhe lambda....
teste3_bovespa['QUATOT - TOTNEG '] = teste2_bovespa.apply(lambda x: x['QUATOT'] - x['TOTNEG'], axis=1)
#teste2_bovespa.info()
teste3_bovespa.query('CODNEG == "VALE3"').head()

In [ ]:
teste3_bovespa.info()

In [ ]:
teste3_bovespa.query('CODNEG == "VALE3"').head()

In [ ]:
teste3_bovespa.insert(0,column="MES",value=moth("DATPRG"))
teste3_bovespa.query('CODNEG == "VALE3"').head()

In [ ]:
teste3_bovespa.info()

In [ ]:
 teste3_bovespa.groupby(level=['CODNEG', 'second']).sum()

In [ ]:
# MSE ( ERRO MEDIO QUADRATICO OU << MEAN SQUAR ERRO >> 
#       EQUIVALE AO ERRO MEDIO ENTRE OS VALORES DO VETOR E A LINHA DO GRAFICO.)
import numpy as np 
from sklearn.metrics import mean_squared_error
mse = np.square(np.subtract(new_bovespa.PREULT,new_bovespa.VARIACAO_PERCENTUAL)).mean()
print(mse)


#Score de Variação ( correcção)
#print ('score de variacao : %.f2' %mod.score(new_bovespa.PREULT,new_bovespa.VARIACAO_PERCENTUAL))

In [ ]:
# import numpy as np 
# Given values 
# Y_true = [1,1,2,2,4]  # Y_true = Y (original values) 
# Calculated values 
# Y_pred = [0.6,1.29,1.99,2.69,3.4]  # Y_pred = Y' 
# Mean Squared Error 
# MSE = np.square(np.subtract(Y_true,Y_pred)).mean() 
# print(MSE)

In [ ]:
!apt update
!apt install chromium-chromedriver
!pip install selenium
# set options to be headless, ..
from selenium import webdriver
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
# open it, go to a website, and get results
wd = webdriver.Chrome('chromedriver',options=options)
wd.get("https://www.google.com")
print(wd.page_source)  # results

In [ ]:
wd.get("https://www.fundamentus.com.br/detalhes.php?papel=PETR4")
print(wd.page_source)

In [ ]:
!apt update
!apt install chromium-chromedriver
!pip install selenium
import time
from datetime import datetime, timedelta
from selenium import webdriver
import requests

In [ ]:
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',options=options)

# FALTA FAZER O LAÇO
url  = 'https://www.fundamentus.com.br/detalhes.php?papel=PETDDDR4'
try:
    # print("URL EXISTE NÃO DEU ERRO")
    driver.get(url)
    driver.implicitly_wait(20)
    vpa          = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[3]/tbody/tr[3]/td[6]').text
    empresa      = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[1]/tbody/tr[3]/td[2]').text
    setor        = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[1]/tbody/tr[4]/td[2]/span/a').text
    subsetor     = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[1]/tbody/tr[5]/td[2]/span/a').text
    cotacao      = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[1]/tbody/tr[1]/td[4]').text
    data_ult_cot = driver.find_element_by_xpath('/html/body/div[1]/div[2]/table[1]/tbody/tr[2]/td[4]/span').text
    print("VPA : " + vpa)
    print("EMPRESA : " + empresa)
    print("SETOR : " + setor)
    print("SUBSETOR : " + subsetor)
    print("COTACAO : " + cotacao)
    print("DATA ULTIMA COTACAO : " + data_ult_cot)
except Exception as erro:
    print('Erro : ' , erro)
    vpa=0

print('Bora Continuar')
driver.close()